<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502689250513-q4tac291vqt50nsnkrit5qgcq6tjbmv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502689250513-q4tac291vqt50nsnkrit5qgcq6tjbmv1</string>
	<key>API_KEY</key>
	<string>AIzaSyC4Ao1Ct6Zo05PeiMrX_tFVGQg7dIOqF-8</string>
	<key>GCM_SENDER_ID</key>
	<string>502689250513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ldcapps.svr</string>
	<key>PROJECT_ID</key>
	<string>ldv-svr</string>
	<key>STORAGE_BUCKET</key>
	<string>ldv-svr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502689250513:ios:ab4dd1f214915cf98119f0</string>
</dict>
</plist>