<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614662444224-1op32v7rno4q78jbsusgn4jjhrhs64q4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614662444224-1op32v7rno4q78jbsusgn4jjhrhs64q4</string>
	<key>API_KEY</key>
	<string>AIzaSyDkUgcTjcv2ySXYGModvzmnoebi6oeadjw</string>
	<key>GCM_SENDER_ID</key>
	<string>614662444224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ldcapps.svr</string>
	<key>PROJECT_ID</key>
	<string>ldc-benefits-brazil</string>
	<key>STORAGE_BUCKET</key>
	<string>ldc-benefits-brazil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614662444224:ios:851d033b5817d4db104925</string>
</dict>
</plist>